
<div class="col-lg-2"> </div>
<div class="col-lg-8">
  <h3>Add new </h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Name:</label>
    <input type="text" class="form-control" ng-model="list.name" placeholder="Enter your name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">City:</label>
    <input type="text" class="form-control" ng-model="list.city"  placeholder="Enter your city" required>
  </div>
  <button ng-click="addPerson()" class="btn btn-default">Add New </button>
</div>
<div class="col-lg-2"> </div>
