
<div class="col-lg-2"> </div>
<div class="col-lg-8">
  <h3>Update new </h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Name:</label>
    <input type="text" class="form-control" ng-model="name" placeholder="Enter your name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">City:</label>
    <input type="text" class="form-control" ng-model="city"  placeholder="Enter your city" required>
  </div>
  <button ng-click="updatePerson()" class="btn btn-default">Update New </button>
</div>
<div class="col-lg-2"> </div>
